.storybook-button {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: white;
  height: 30px;
  padding: 8px 15px;
  font-size: 14px;
}
.storybook-button--success {
  background-color: #05aa89;
}
.storybook-button--danger {
  background-color: #c94397;
}
.storybook-button--progress {
  background-color: #99d1af;
}
.storybook-button--faded {
  background-color: #dbdcdb;
}
